<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-platform" role="menuitem"><a href="{{site.baseurl}}tag/platform/">Data Platform</a></li>
    <li class="nav-language" role="menuitem"><a href="{{site.baseurl}}tag/language/">Language</a></li>
    <li class="nav-cloud" role="menuitem"><a href="{{site.baseurl}}tag/cloud/">Cloud</a></li>
    <li class="nav-tips" role="menuitem"><a href="{{site.baseurl}}tag/tips/">Tips</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>